
<div class="container">

  <h3>Your movie lists</h3>


  <% @lists.each do |list| %>
    <div><%= link_to list.name, list_path(list) %></div>
  <% end %>


  <%= link_to "Create a new list", new_list_path %>
</div>
