
<div class="container">

  <div class="header-banner">
    <h2>Your movie lists</h2>
  </div>

  <div class="grid-grid">

    <% @lists.each do |list| %>

      <%= link_to list_path(list) do %>
        <div class="crd">
          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, crop: :fill %>
          <% else %>
          <%= image_tag "film.jpg" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>


  <%= link_to "Create a new list", new_list_path %>
</div>
